main .bookish {
    margin-top: 100px;
    padding-top: 130px;
    width: 400px;
    height: 350px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.521);
  }
  main{
      background-image: url("../images/home-background.jpg");
      background-size: cover;
  }
  main .bookish h1 {
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
  }
  
  main .col-lg-6 .mt {
    margin-top: 170px;
  }
  
  main .col-lg-6 .mt h1 {
    font-size: 60px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  
  main .col-lg-6 .mt p {
    letter-spacing: 3px;
    font-weight: 500;
  }