<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about_us.css">
    <title>About Us</title>
  </head>
  <body>
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Our website contains different categories of books which are available in very affordable price than new onces 
        and as there is little changes in few of new books so purchasing old books would be better option.
        We have another exciting option for a user to get the knoledge very easily in cheaper than ever. Rental system on books, 
        means a user can rent any book for a particular time by paying a small amount of charges.</p>
      </div>
      
      <h1 style="text-align:center">Our Team</h1>
      <div class="row">
        <div class="column">
          <div class="card" style="width: 18rem;">
            <img src="blank-picture.png" alt="Ankur" style="width:100%">
            <div class="container">
              <h2>Ankur Saxena</h2>
              <p class="title">Frontend Developer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>ankursaxenaankur0@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card" style="width: 18rem;">
            <img src="blank-picture.png" alt="Amit" style="width:100%">
            <div class="container">
              <h2>Amit Girwal</h2>
              <p class="title">Frontend Developer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>amitgirwal143@gmail.comcom</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card" style="width: 18rem;">
            <img src="blank-picture.png" alt="Dipanshu" style="width:100%">
              <div class="container">
                <h2>Dipanshu Sengar</h2>
                <p class="title">Frontend & Backend Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>dipanshusengar682@gmail.com</p>
                <p><button class="button">Contact</button></p>
              </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card" style="width: 18rem;">
            <img src="blank-picture.png" alt="Himanshu" style="width:100%">
            <div class="container">
              <h2>Himanshu Sanas</h2>
              <p class="title">Frontend & Backend Developer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>himanshusanas51@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card" style="width: 18rem;">
            <img src="blank-picture.png" alt="Deepak" style="width:100%">
            <div class="container">
              <h2>Deepak Lovanshi</h2>
              <p class="title">Database</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>deepaklovanshi143@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card" style="width: 18rem;">
            <img src="blank-picture.png" alt="Dharmesh" style="width:100%">
            <div class="container">
              <h2>Dharmesh Kawat</h2>
              <p class="title">Database</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>dharmeshkawat123@gmail.  com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
      
  </body>
</html>